.profile-container {
    display: flex;
    margin: 20px auto;
    max-width: 1200px; /* Максимальная ширина контейнера */
    gap: 20px; /* Промежуток между колонками */
}

.profile-info {
    flex: 1; /* Занимает 1 часть */
    min-width: 300px; /* Минимальная ширина для информации о пользователе */
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 20px;
}

.profile-login {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-bio {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.profile-details {
    font-size: 14px;
}

.profile-details p {
    margin: 5px 0;
}

.posts-section {
    flex: 2; /* Занимает 2 части */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative; /* Для абсолютного позиционирования кнопок */
}

.post-header {
    display: flex;
    justify-content: end; 
    align-items: center;
}

.user-actions button {
    font-size: x-small;
}

.post-actions {
    text-align: left;
    display: flex;
    gap: 10px;
    font-size: smaller;
}

.post-content {
    font-size: 16px;
    margin-bottom: 5px;
}

.post-date {
    font-size: 12px;
    color: #999;
}

@media (max-width: 600px) {
    .profile-container {
        flex-direction: column;
    }

    .profile-info,
    .posts-section {
        width: 100%;
    }
}


.post-actions button {
    background-color: #7b9abb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-actions button:hover {
    background-color: #c9d4df;
}

.post-edit-time {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Задать высокий z-index, чтобы окно было поверх всего */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.new-post-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.new-post-button:hover {
    background-color: #0056b3;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}